.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 20%;
  background-color: #ffffff;
  padding: 20px;
  position: fixed;
}
.navbar button {
  width: 100px;
  padding: 10px;
  cursor: pointer;
  /* margin-top: 20px; */
  text-decoration: none;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.links h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a {
  color: #333;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 16px;
}

.links a:last-child {
  margin-bottom: 0;
}

.links a:hover {
  border: 1px solid black;
  padding: 3px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.links a.active {
  border: 1px solid black;
  padding: 3px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.link-setting {
  display: flex;
  flex-direction: column;
  margin: 10px 15px;
}
