.shop {
  margin: 0 25%;
}
.shop-title {
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
}

.shop-title button {
  width: 100px;
  height: 30px;
}

.search {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
  margin: 1px auto;
  width: 50%;
}

.search input {
  border: none;
  outline: none;
  padding: 8px;
}

.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
}

.product {
  border-radius: 15px;
  width: 100px;
  height: 215px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 10px;
}

.product .description {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.product:hover {
  cursor: pointer;
}

.cart-btn {
  background-color: transparent;
  border: 1px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  color: black;
}

.cart-btn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: white;
  padding: 50px;
  border-radius: 5px;
}
.modal-content {
  margin-bottom: 10px;
}

.modal-content h2 {
  margin-bottom: 20px;
}
.modal-content label {
  display: block;
  margin-bottom: 10px;
}
.modal-content input,
.modal-content textarea,
.modal-content select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.modal-buttons {
  display: flex;
  justify-content: flex-end;
}
.modal-buttons button {
  margin-left: 10px;
  margin-top: 20px;
  width: 100%;
  height: 30px;
}
